<!DOCTYPE html>
<html>
    <head>
        <title>About - Coffee Shop</title>
        <%- include('../components/generic-tags'); %>
        <%- include('../components/bootstrap-tags'); %>
        <%- include('../components/meta-tags'); %>
    </head>
<body>
        <%- include('../components/navbar'); %>
        <%- include('../components/info-section-component'); %>


</body>
</html> 