<!DOCTYPE html>
<html>
    <head>
        <title>Contact - Coffee Shop</title>
        <%- include('../components/generic-tags'); %>
        <%- include('../components/bootstrap-tags'); %>
        <%- include('../components/meta-tags'); %>
    </head>
<body>
    <%- include('../components/navbar'); %>
    <%- include('../components/contact-form'); %>
    
</body>

    <%- include('../components/footer'); %>
</html> 