<!DOCTYPE html>
<html>
    <head>
        <title>Home - Mason Worthen</title>
        <%- include('../components/generic-tags'); %>
        <%- include('../components/bootstrap-tags'); %>
        <%- include('../components/meta-tags'); %>
    </head>
<body class="bg-black">
       <%- include('../components/navbar'); %>
       <%- include('../components/jumbotron-component'); %>
   
     
       



</body>
      
       <%- include('../components/footer'); %>
</html> 